Repository Sec-ant/zxing-wasm: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}": [
    "biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "*.{md,yml,yaml,css,html}": ["prettier --write"]
}

chore: cross-link docs and demo sites
  apps/demo/src/app.tsx
  packages/zxing-wasm/README.md
  tooling/typedoc/typedoc.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: resolve monorepo build circular dependency
  .github/workflows/test.yml
  package.json
  packages/zxing-wasm/package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: update demo URL to GitHub Pages
  README.md
Due: prettier --write

fix(ci): use jq --arg for fallback version to avoid quoting issues
  .github/workflows/release.yml
Due: prettier --write

chore(deps): bump dependencies and pnpm to v11.12
  .github/actions/setup-node/action.yml
  .github/workflows/bencher.yml
  .github/workflows/deploy.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  .github/workflows/size.yml
  .github/workflows/test.yml
  biome.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(deps): bump dependencies and pnpm to v11.12 (#389)
  .github/actions/setup-node/action.yml
  .github/workflows/bencher.yml
  .github/workflows/deploy.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  .github/workflows/size.yml
  .github/workflows/test.yml
  biome.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(deps): bump zxing-cpp to 179be6ac
  .changeset/wicked-lions-itch.md
  tests/__snapshots__/telepen-1/telepen-alpha-3.yaml
Due: prettier --write

chore(deps): bump zxing-cpp to 179be6ac (#393)
  .changeset/wicked-lions-itch.md
  tests/__snapshots__/telepen-1/telepen-alpha-3.yaml
Due: prettier --write

chore(deps): bump zxing-cpp and dependencies
  .changeset/bright-badgers-breathe.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/__snapshots__/pdf417-2/17.yaml
  tests/__snapshots__/pdf417-2/22.yaml
  tests/__snapshots__/pdf417-3/04.yaml
  tests/__snapshots__/pdf417-3/05.yaml
  tests/__snapshots__/qrcode-1/17.yaml
  tests/__snapshots__/qrcode-1/18.yaml
  tests/__snapshots__/qrcode-2/#1132.yaml
  tests/__snapshots__/qrcode-2/#142.yaml
  tests/__snapshots__/qrcode-2/#199.yaml
  tests/__snapshots__/qrcode-2/#258.yaml
  tests/__snapshots__/qrcode-2/22.yaml
  tests/__snapshots__/qrcode-2/25.yaml
  tests/__snapshots__/qrcode-2/high-res-1.yaml
  tests/__snapshots__/qrcode-2/low-res-v1-a.yaml
  tests/__snapshots__/qrcode-2/qr-model-1.yaml
  tests/__snapshots__/qrcode-2/summary.yaml
  tests/__snapshots__/qrcode-3/21.yaml
  tests/__snapshots__/qrcode-3/23.yaml
  tests/__snapshots__/qrcode-3/24.yaml
  tests/__snapshots__/qrcode-3/25.yaml
  tests/__snapshots__/qrcode-3/30.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(deps): bump zxing-cpp and dependencies (#401)
  .changeset/bright-badgers-breathe.md
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tests/__snapshots__/pdf417-2/17.yaml
  tests/__snapshots__/pdf417-2/22.yaml
  tests/__snapshots__/pdf417-3/04.yaml
  tests/__snapshots__/pdf417-3/05.yaml
  tests/__snapshots__/qrcode-1/17.yaml
  tests/__snapshots__/qrcode-1/18.yaml
  tests/__snapshots__/qrcode-2/#1132.yaml
  tests/__snapshots__/qrcode-2/#142.yaml
  tests/__snapshots__/qrcode-2/#199.yaml
  tests/__snapshots__/qrcode-2/#258.yaml
  tests/__snapshots__/qrcode-2/22.yaml
  tests/__snapshots__/qrcode-2/25.yaml
  tests/__snapshots__/qrcode-2/high-res-1.yaml
  tests/__snapshots__/qrcode-2/low-res-v1-a.yaml
  tests/__snapshots__/qrcode-2/qr-model-1.yaml
  tests/__snapshots__/qrcode-2/summary.yaml
  tests/__snapshots__/qrcode-3/21.yaml
  tests/__snapshots__/qrcode-3/23.yaml
  tests/__snapshots__/qrcode-3/24.yaml
  tests/__snapshots__/qrcode-3/25.yaml
  tests/__snapshots__/qrcode-3/30.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(ci): handle preview releases without changesets
  .github/workflows/preview-release.yml
Due: prettier --write

fix(release): support changesets cli v3
  .github/workflows/release.yml
Due: prettier --write

test: keep blackbox assertions sequential
  tests/blackbox.test.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: update zxing-cpp and dependencies
  .changeset/tidy-bats-update.md
  .github/workflows/bencher.yml
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

test: detect uncovered upstream sample directories
  tests/blackbox.test.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

test: read sample inventory from git tree
  tests/blackbox.test.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

test: restore coverage for migrated upstream samples
  tests/README.md
  tests/blackbox.test.ts
  tests/testEntries.ts
  tests/upstreamFixtures.test.ts
  tests/upstreamFixtures.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write
