Repository Sec-ant/zxing-wasm: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}": [
    "biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "*.{md,yml,yaml,css,html}": ["prettier --write"]
}

chore(changeset): selfish-socks-visit.md
  .changeset/selfish-socks-visit.md
Due: prettier --write

chore(release): v1.2.13 (#151)
  .changeset/selfish-socks-visit.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: patch emscripten
  .changeset/fair-carrots-serve.md
  .github/actions/setup-emsdk/action.yml
  .github/actions/setup/action.yml
  emscripten.patch
Due: prettier --write

fix: patch emscripten (#152)
  .changeset/fair-carrots-serve.md
  .github/actions/setup-emsdk/action.yml
  .github/actions/setup/action.yml
  emscripten.patch
Due: prettier --write

chore: fix patch already applied
  .github/actions/setup-emsdk/action.yml
Due: prettier --write

chore(release): v1.2.14 (#153)
  .changeset/fair-carrots-serve.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

add tests
  package.json
  pnpm-lock.yaml
  tests/reader.node.spec.ts
  tests/testEntries.ts
  tsconfig.base.json
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

update
  tests/reader.node.spec.ts
  tests/testEntries.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

wip
  .vscode/settings.json
  src/cpp/ZXingWasm.cpp
  tests/reader.node.spec.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

fix: bump zxing-cpp to `81407a0`
  .changeset/nervous-turkeys-brake.md
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: webassembly exception handling
  .changeset/funny-kiwis-pay.md
  src/cpp/CMakeLists.txt
Due: prettier --write

chore(release): v1.2.15 (#154)
  .changeset/funny-kiwis-pay.md
  .changeset/nervous-turkeys-brake.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump emscripten
  .github/actions/setup/action.yml
Due: prettier --write

feat: add reader support for `DataBarLimited`
  .changeset/lazy-gifts-vanish.md
  README.md
  src/bindings/barcodeFormat.ts
  src/bindings/readResult.ts
  src/bindings/readerOptions.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: add reader support for `DataBarLimited` (#159)
  .changeset/lazy-gifts-vanish.md
  README.md
  src/bindings/barcodeFormat.ts
  src/bindings/readResult.ts
  src/bindings/readerOptions.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: add a test case to ensure blackbox tests consistency with zxing-cpp test runners
  tests/blackbox.test.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

fix: tsconfigs
  .gitignore
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  tests/blackbox.test.ts
  tests/utils.ts
  tsconfig.base.json
  tsconfig.json
  tsconfig.node.json
  tsconfig.pkg.json
  typedoc.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: add test jobs
  .github/actions/test/action.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

fix: checkout submodules
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

fix: specify base directory to scan for test files
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

fix: add exclude patterns for tests
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

fix: use exclude cli option
  .github/actions/test/action.yml
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update a README link title
  README.md
Due: prettier --write

chore: bump zxing-cpp to `fc42827`
  .changeset/lazy-gifts-vanish.md
Due: prettier --write

chore(release): v1.3.0 (#160)
  .changeset/lazy-gifts-vanish.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: make build:wasm script work on macos
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump deps and fix lint warnings
  package.json
  pnpm-lock.yaml
  src/bindings/exposedReaderBindings.ts
  src/bindings/exposedWriterBindings.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

breaking: next version (wip)
  src/cpp/.clang-format
  src/cpp/CMakeLists.txt
  src/cpp/ZXingWasm.cpp
Due: none

fix: support itf barcodes with shorter text content (2, 3, 4 chars)
  .changeset/four-keys-occur.md
  package.json
  pnpm-lock.yaml
  tests/__snapshots__/itf-1/#853/fast-0.json
  tests/__snapshots__/itf-1/#853/fast-180.json
  tests/__snapshots__/itf-1/#853/slow-0.json
  tests/__snapshots__/itf-1/#853/slow-180.json
  tests/__snapshots__/itf-1/summary.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): v1.3.1 (#164)
  .changeset/four-keys-occur.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump deps
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: bump zxing-cpp to `308f820` and improve DataBar detection rate
  .changeset/rare-apricots-exercise.md
  tests/__snapshots__/rss14-2/0120358468019312/fast-0.json
  tests/__snapshots__/rss14-2/0120358468019312/fast-180.json
  tests/__snapshots__/rss14-2/0120358468019312/slow-0.json
  tests/__snapshots__/rss14-2/0120358468019312/slow-180.json
  tests/__snapshots__/rss14-2/13/fast-180.json
  tests/__snapshots__/rss14-2/13/slow-0.json
  tests/__snapshots__/rss14-2/13/slow-180.json
  tests/__snapshots__/rss14-2/7/fast-0.json
  tests/__snapshots__/rss14-2/7/fast-180.json
  tests/__snapshots__/rss14-2/7/slow-0.json
  tests/__snapshots__/rss14-2/7/slow-180.json
  tests/__snapshots__/rss14-2/8/fast-0.json
  tests/__snapshots__/rss14-2/8/slow-0.json
  tests/__snapshots__/rss14-2/9/fast-0.json
  tests/__snapshots__/rss14-2/9/fast-180.json
  tests/__snapshots__/rss14-2/9/slow-0.json
  tests/__snapshots__/rss14-2/9/slow-180.json
  tests/__snapshots__/rss14-2/summary.json
  tests/__snapshots__/rssexpanded-2/12/fast-180.json
  tests/__snapshots__/rssexpanded-2/12/slow-180.json
  tests/__snapshots__/rssexpanded-2/3_05/slow-0.json
  tests/__snapshots__/rssexpanded-2/4_03/fast-0.json
  tests/__snapshots__/rssexpanded-2/4_03/fast-180.json
  tests/__snapshots__/rssexpanded-2/4_03/slow-0.json
  tests/__snapshots__/rssexpanded-2/4_03/slow-180.json
  tests/__snapshots__/rssexpanded-2/4_04/slow-180.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): v1.3.2 (#168)
  .changeset/rare-apricots-exercise.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: bump `zxing-cpp` to `cd9bba3` to fix an ITF detection regression
  .changeset/dry-berries-applaud.md
  package.json
  pnpm-lock.yaml
  tests/__snapshots__/itf-1/1-slanted/fast-0.json
  tests/__snapshots__/itf-1/1-slanted/fast-180.json
  tests/__snapshots__/itf-1/1-slanted/slow-0.json
  tests/__snapshots__/itf-1/1-slanted/slow-180.json
  tests/__snapshots__/itf-1/13/fast-180.json
  tests/__snapshots__/itf-1/13/slow-180.json
  tests/__snapshots__/itf-1/6/fast-0.json
  tests/__snapshots__/itf-1/6/fast-180.json
  tests/__snapshots__/itf-1/6/slow-0.json
  tests/__snapshots__/itf-1/6/slow-180.json
  tests/__snapshots__/itf-1/summary.json
  tests/__snapshots__/itf-1/with-tail/fast-0.json
  tests/__snapshots__/itf-1/with-tail/fast-180.json
  tests/__snapshots__/itf-1/with-tail/slow-0.json
  tests/__snapshots__/itf-1/with-tail/slow-180.json
  tests/__snapshots__/itf-2/07/fast-0.json
  tests/__snapshots__/itf-2/13/fast-0.json
  tests/__snapshots__/itf-2/13/fast-180.json
  tests/__snapshots__/itf-2/13/slow-0.json
  tests/__snapshots__/itf-2/13/slow-180.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write
