Repository Sec-ant/zxing-wasm: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}": [
    "biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "*.{md,yml,yaml,css,html}": ["prettier --write"]
}

fix: add transformation for `for-of` with `.entries()`
  .changeset/six-humans-allow.md
  scripts/babel-plugin-emscripten-patch.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

test: Add tests to detect Array.prototype.entries usage
  package.json
  pnpm-lock.yaml
  tests/issue.test.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: cache array expression in `for-of` transformation
  scripts/babel-plugin-emscripten-patch.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

fix: add transformation for `for-of` with `.entries()` (#298)
  .changeset/six-humans-allow.md
  package.json
  pnpm-lock.yaml
  scripts/babel-plugin-emscripten-patch.ts
  tests/issue.test.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump deps
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(barcodeFormat): correct industrial barcode format filter and add test case
  src/bindings/barcodeFormat.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

fix(writerOptions): improve option token handling in writerOptionsToZXingWriterOptions function
  src/bindings/writerOptions.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

fix(writer): free allocated memory on PNG encoding failure in writeBarcode functions
  src/cpp/ZXingWasm.cpp
Due: none

fix(readme): add note for v2 release branch
  README.md
Due: prettier --write

fix(barcodeFormat): normalize format in formatToLabel function
  src/bindings/barcodeFormat.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

fix(changeset): tweak heading levels
  .changeset/tidy-seas-wave.md
Due: prettier --write

chore(docs): add note about reading support for MaxiCode in README
  README.md
Due: prettier --write

chore(docs): center meta-format section
  README.md
Due: prettier --write

fix(readme): symbologies
  README.md
Due: prettier --write

fix(readme): update wasm binary sizes for subpaths
  README.md
Due: prettier --write

chore: reduce security alerts
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(readme): clarify ReadResult format and symbology descriptions
  README.md
Due: prettier --write

fix(readme): update serve path to use dynamic ZXING_WASM_VERSION
  README.md
Due: prettier --write

fix(readme): update barcode format table for consistency and clarity
  README.md
Due: prettier --write

feat(bench): add benchmarking for readBarcodes API with various resolutions
  .gitignore
  package.json
  tests/readBarcodes.bench.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

perf: optimize barcode reading with JS-side grayscale conversion and code deduplication
  .changeset/bright-pens-glow.md
  README.md
  src/bindings/writeResult.ts
  src/cpp/ZXingWasm.cpp
  src/share.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(rgbaToGrayscale): validate RGBA byte length and ensure memory is freed after barcode reading
  src/share.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

perf: bump zxing-cpp, simplify rgbaToGrayscale function signature and improve performance by bit shift
  src/share.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: comments
  src/share.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump and add changeset
  .changeset/sparkly-bugs-fetch.md
  .github/actions/setup-node/action.yml
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(readme): update wasm binary sizes for full and reader subpaths
  README.md
Due: prettier --write

chore: use a more forgiving type
  .vscode/settings.json
  src/share.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

perf: optimization (#326)
  .changeset/bright-pens-glow.md
  .changeset/sparkly-bugs-fetch.md
  .github/actions/setup-node/action.yml
  .vscode/settings.json
  README.md
  package.json
  pnpm-lock.yaml
  src/bindings/writeResult.ts
  src/cpp/ZXingWasm.cpp
  src/share.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: throw on failed emscripten patches instead of silently continuing
  scripts/vite-plugin-emscripten-patch.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: update packageManager version to include full hash
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: draft (wip)
  .github/actions/test/action.yml
  .github/workflows/deploy.yml
  .gitignore
  .npmrc
  biome.json
  demo/index.html
  demo/src/App.tsx
  demo/src/main.tsx
  demo/tsconfig.json
  demo/vite.config.ts
  package.json
  pnpm-lock.yaml
  scripts/build-cjs.ts
  scripts/build-iife.ts
  src/react/DESIGN.md
  src/react/helpers.ts
  src/react/index.ts
  src/react/scanLoop.ts
  src/react/scanner-worker.ts
  src/react/useScanner.ts
  src/react/workerDecode.ts
  src/scanner/DESIGN.md
  tests/useScanner.browser.test.tsx
  tsconfig.json
  typedoc.json
  vite.base.ts
  vite.config.ts
  vitest.browser.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

refactor: simplify design documentation and clarify async generator model
  src/scanner/DESIGN.md
Due: prettier --write
