Repository Sec-ant/zxing-wasm: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}": [
    "biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "*.{md,yml,yaml,css,html}": ["prettier --write"]
}

chore: wip
  .codex
  biome.json
  demo/index.html
  demo/src/App.tsx
  demo/src/main.ts
  demo/tsconfig.json
  demo/vite.config.ts
  package.json
  scripts/build-cjs.ts
  scripts/build-iife.ts
  src/full/index.ts
  src/global.d.ts
  src/react/DESIGN.md
  src/react/index.ts
  src/react/scanLoop.ts
  src/react/scanner-worker.ts
  src/react/useScanner.ts
  src/react/workerDecode.ts
  src/reader/index.ts
  src/scanner/DESIGN.md
  src/scanner/capture.ts
  src/scanner/helpers.ts
  src/scanner/index.ts
  src/scanner/nextFrame.ts
  src/scanner/scan.ts
  src/scanner/scanner-worker.ts
  src/scanner/workerDecode.ts
  src/share.ts
  src/writer/index.ts
  tests/scan.browser.test.ts
  tests/useScanner.browser.test.tsx
  typedoc.json
  vite.base.ts
  vite.config.ts
  vitest.browser.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(package.json): drop pnpm onlyBuiltDependencies
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

fix formatting
  README.md
Due: prettier --write

chore: upgrade dev deps and move hoist config
  .npmrc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs: clarify formats, symbologies, and aliases
  README.md
Due: prettier --write

docs: reformat README tables and add legacy badges
  README.md
Due: prettier --write

docs: consolidate README badges into one line
  README.md
Due: prettier --write

docs: simplify branch badge labels in README
  README.md
Due: prettier --write

ci: add CodSpeed & size workflows and ccache
  .github/actions/setup/action.yml
  .github/workflows/codspeed.yml
  .github/workflows/size.yml
  package.json
  pnpm-lock.yaml
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

test: restrict benchmark glob to tests/**
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

test: restructure benches under tests/bench and expand coverage
  .gitignore
  tests/bench/browser/bench.html
  tests/bench/browser/driver.ts
  tests/bench/browser/harness.ts
  tests/bench/browser/main.ts
  tests/bench/browser/scanner-worker.ts
  tests/bench/fixtures/no-barcode-1080p.png
  tests/bench/fixtures/prepare.ts
  tests/bench/node/decode.bench.ts
  tests/bench/node/grayscale.bench.ts
  tests/bench/node/inputFormat.bench.ts
  tests/bench/node/readBarcodes.bench.ts
  tests/bench/node/wasmMemory.bench.ts
  tests/bench/node/writeBarcode.bench.ts
  tests/readBarcodes.bench.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

test(bench): drop browser harness and on-disk fixtures
  .gitignore
  tests/bench/browser/bench.html
  tests/bench/browser/driver.ts
  tests/bench/browser/harness.ts
  tests/bench/browser/main.ts
  tests/bench/browser/scanner-worker.ts
  tests/bench/fixtures/no-barcode-1080p.png
  tests/bench/fixtures/prepare.ts
  tests/bench/node/decode.bench.ts
  tests/bench/node/grayscale.bench.ts
  tests/bench/node/inputFormat.bench.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

test(bench): drop BMP/GIF cases from inputFormat bench
  tests/bench/node/inputFormat.bench.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

test(bench): restore hookTimeout override on inputFormat beforeAll
  tests/bench/node/inputFormat.bench.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

ci: add CodSpeed & size workflows and ccache (#354)
  .github/actions/setup/action.yml
  .github/workflows/codspeed.yml
  .github/workflows/size.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  tests/bench/node/decode.bench.ts
  tests/bench/node/grayscale.bench.ts
  tests/bench/node/inputFormat.bench.ts
  tests/bench/node/readBarcodes.bench.ts
  tests/bench/node/wasmMemory.bench.ts
  tests/bench/node/writeBarcode.bench.ts
  tests/readBarcodes.bench.ts
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

ci: replace CodSpeed with bencher.dev
  .github/workflows/bencher.yml
  .github/workflows/codspeed.yml
  package.json
  pnpm-lock.yaml
  scripts/vitest-bench-to-bmf.mjs
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(ci): harden bencher workflow + guard converter against duplicate keys
  .github/workflows/bencher.yml
  scripts/vitest-bench-to-bmf.mjs
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: migrated performance benchmarking infrastructure from CodSpeed to Bencher (#355)
  .github/workflows/bencher.yml
  .github/workflows/codspeed.yml
  package.json
  pnpm-lock.yaml
  scripts/vitest-bench-to-bmf.mjs
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(ci): grant baseline job checks: write for bencher GitHub Check
  .github/workflows/bencher.yml
Due: prettier --write

fix(bench): correct ms→ns conversion and stabilize sampling
  scripts/vitest-bench-to-bmf.mjs
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

feat(bench): add Vitest benchmarks and CI workflows
  .github/actions/setup/action.yml
  .github/workflows/bencher.yml
  .github/workflows/size.yml
  .gitignore
  package.json
  scripts/vitest-bench-to-bmf.mjs
  tests/bench/node/decode.bench.ts
  tests/bench/node/grayscale.bench.ts
  tests/bench/node/inputFormat.bench.ts
  tests/bench/node/readBarcodes.bench.ts
  tests/bench/node/wasmMemory.bench.ts
  tests/bench/node/writeBarcode.bench.ts
  tests/readBarcodes.bench.ts
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix(bench): report Bencher latency in milliseconds
  .github/workflows/bencher.yml
  scripts/vitest-bench-to-bmf.mjs
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

test(bench): set image colorSpace and drop timings
  tests/bench/node/decode.bench.ts
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore(ci): fix size workflow globs
  .github/workflows/size.yml
Due: prettier --write

chore(ci): switch size check to bundlewatch
  .github/workflows/size.yml
  bundlewatch.config.json
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

docs(readme): clarify symbology and update table
  README.md
Due: prettier --write

chore: change docs deployment
  .github/workflows/deploy.yml
  README.md
  typedoc.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: remove wasmMemory bench
  tests/bench/node/wasmMemory.bench.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: deploy demo to GitHub Pages alongside docs
  .github/workflows/deploy.yml
  apps/demo/vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write
