Repository Sec-ant/zxing-wasm: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}": [
    "biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "*.{md,yml,yaml,css,html}": ["prettier --write"]
}

chore: update README
  README.md
Due: prettier --write

fix(wasm-build-script): zxing_writer.wasm size issue
  .changeset/plenty-files-thank.md
  .github/actions/test/action.yml
  README.md
  package.json
  src/cpp/CMakeLists.txt
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): v2.0.0-beta.4 (beta) (#192)
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: try to fix gitattributes
  .gitattributes
Due: none

chore: update changelog
  .changeset/sharp-shrimps-enjoy.md
Due: prettier --write

chore: exit changeset pre mode
  .changeset/pre.json
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update changelog
  CHANGELOG.md
Due: prettier --write

chore: update
  CHANGELOG.md
Due: prettier --write

chore(release): v2.0.0
  .changeset/healthy-mugs-dress.md
  .changeset/nice-needles-guess.md
  .changeset/plenty-files-thank.md
  .changeset/pre.json
  .changeset/stupid-rules-travel.md
  .changeset/wise-planes-reply.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update lock file and bump zxing-cpp
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: add `ZXING_CPP_COMMIT` export
  .changeset/lucky-fishes-draw.md
  README.md
  src/full/index.ts
  src/global.d.ts
  src/reader/index.ts
  src/share.ts
  src/writer/index.ts
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): v2.0.1 (#198)
  .changeset/lucky-fishes-draw.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: miniprogram
  package.json
  scripts/babel-plugin-miniprogram-patch.ts
  scripts/build-miniprogram.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump package manager and deps
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: emscripten issue
  .github/actions/setup/action.yml
  src/cpp/CMakeLists.txt
Due: prettier --write

fix: emscripten patch
  emscripten.patch
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: wasm async compilation
  src/cpp/CMakeLists.txt
Due: none

fix: pin emscripten to 3.1.74
  .github/actions/setup/action.yml
  emscripten.patch
Due: prettier --write

chore: bump deps and zxing-cpp
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: remove CMAKE pthread workarounds
  package.json
  src/cpp/CMakeLists.txt
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: fix vitest exclude
  .github/actions/test/action.yml
Due: prettier --write

chore: add changeset
  .changeset/dark-steaks-live.md
Due: prettier --write

chore: bump package manager and deps (#202)
  .changeset/dark-steaks-live.md
  .github/actions/test/action.yml
  package.json
  pnpm-lock.yaml
  src/cpp/CMakeLists.txt
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: remove CMakeLists.txt comments
  src/cpp/CMakeLists.txt
Due: none

chore(release): v2.0.2 (#207)
  .changeset/dark-steaks-live.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: accept `ArrayBuffer` and `TypedArray` as `input` in `readBarcodes`
  .changeset/pretty-ravens-send.md
  src/full/index.ts
  src/reader/index.ts
  src/share.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: add tests for `readBarcodes` input
  package.json
  pnpm-lock.yaml
  tests/samples/qrcode/wikipedia.png
  tests/unit.test.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: remove babel for miniprogram build
  scripts/babel-plugin-miniprogram-patch.ts
  scripts/build-miniprogram.ts
  src/full/index.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: rename miniprogram build script function
  scripts/build-miniprogram.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: add error message for miniprogram
  scripts/build-cjs.ts
  scripts/build-miniprogram.ts
  src/full/index.ts
  src/share.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: implement a bare minimum Blob polyfill for miniprogram
  src/share.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: update error message
  src/share.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: change console.warn to console.error in the bare minimum Blob polyfill
  src/share.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: update README with wechat miniprogram usage notes
  README.md
Due: prettier --write

chore: add changeset
  .changeset/pink-tips-unite.md
Due: prettier --write

chore: update changeset
  .changeset/pretty-ravens-send.md
Due: prettier --write

feat: miniprogram (#107)
  .changeset/pink-tips-unite.md
  .changeset/pretty-ravens-send.md
  README.md
  package.json
  pnpm-lock.yaml
  scripts/build-cjs.ts
  scripts/build-miniprogram.ts
  src/full/index.ts
  src/reader/index.ts
  src/share.ts
  tests/samples/qrcode/wikipedia.png
  tests/unit.test.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write
