Repository Sec-ant/zxing-wasm: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): v1.3.3 (#170)
  .changeset/dry-berries-applaud.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: bump `zxing-cpp` to `579650a` to fix incorrect PDF417 position info
  .changeset/curly-houses-bathe.md
  tests/__snapshots__/pdf417-1/10/fast-0.json
  tests/__snapshots__/pdf417-1/10/fast-180.json
  tests/__snapshots__/pdf417-1/10/slow-0.json
  tests/__snapshots__/pdf417-1/10/slow-180.json
  tests/__snapshots__/pdf417-1/10/slow-270.json
  tests/__snapshots__/pdf417-1/10/slow-90.json
  tests/__snapshots__/pdf417-2/25/fast-0.json
  tests/__snapshots__/pdf417-2/25/fast-180.json
  tests/__snapshots__/pdf417-2/25/slow-0.json
  tests/__snapshots__/pdf417-2/25/slow-180.json
  tests/__snapshots__/pdf417-2/25/slow-270.json
  tests/__snapshots__/pdf417-2/25/slow-90.json
  tests/__snapshots__/pdf417-3/16/fast-0.json
  tests/__snapshots__/pdf417-3/16/fast-180.json
  tests/__snapshots__/pdf417-3/16/slow-0.json
  tests/__snapshots__/pdf417-3/16/slow-180.json
  tests/__snapshots__/pdf417-3/16/slow-270.json
  tests/__snapshots__/pdf417-3/16/slow-90.json
  tests/__snapshots__/pdf417-3/17/fast-0.json
  tests/__snapshots__/pdf417-3/17/fast-180.json
  tests/__snapshots__/pdf417-3/17/slow-0.json
  tests/__snapshots__/pdf417-3/17/slow-180.json
  tests/__snapshots__/pdf417-3/17/slow-270.json
  tests/__snapshots__/pdf417-3/17/slow-90.json
  tests/__snapshots__/pdf417-3/18/fast-0.json
  tests/__snapshots__/pdf417-3/18/fast-180.json
  tests/__snapshots__/pdf417-3/18/slow-0.json
  tests/__snapshots__/pdf417-3/18/slow-180.json
  tests/__snapshots__/pdf417-3/18/slow-270.json
  tests/__snapshots__/pdf417-3/18/slow-90.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: bump `zxing-cpp` to `579650a` to fix incorrect PDF417 position info (#171)
  .changeset/curly-houses-bathe.md
  tests/__snapshots__/pdf417-1/10/fast-0.json
  tests/__snapshots__/pdf417-1/10/fast-180.json
  tests/__snapshots__/pdf417-1/10/slow-0.json
  tests/__snapshots__/pdf417-1/10/slow-180.json
  tests/__snapshots__/pdf417-1/10/slow-270.json
  tests/__snapshots__/pdf417-1/10/slow-90.json
  tests/__snapshots__/pdf417-2/25/fast-0.json
  tests/__snapshots__/pdf417-2/25/fast-180.json
  tests/__snapshots__/pdf417-2/25/slow-0.json
  tests/__snapshots__/pdf417-2/25/slow-180.json
  tests/__snapshots__/pdf417-2/25/slow-270.json
  tests/__snapshots__/pdf417-2/25/slow-90.json
  tests/__snapshots__/pdf417-3/16/fast-0.json
  tests/__snapshots__/pdf417-3/16/fast-180.json
  tests/__snapshots__/pdf417-3/16/slow-0.json
  tests/__snapshots__/pdf417-3/16/slow-180.json
  tests/__snapshots__/pdf417-3/16/slow-270.json
  tests/__snapshots__/pdf417-3/16/slow-90.json
  tests/__snapshots__/pdf417-3/17/fast-0.json
  tests/__snapshots__/pdf417-3/17/fast-180.json
  tests/__snapshots__/pdf417-3/17/slow-0.json
  tests/__snapshots__/pdf417-3/17/slow-180.json
  tests/__snapshots__/pdf417-3/17/slow-270.json
  tests/__snapshots__/pdf417-3/17/slow-90.json
  tests/__snapshots__/pdf417-3/18/fast-0.json
  tests/__snapshots__/pdf417-3/18/fast-180.json
  tests/__snapshots__/pdf417-3/18/slow-0.json
  tests/__snapshots__/pdf417-3/18/slow-180.json
  tests/__snapshots__/pdf417-3/18/slow-270.json
  tests/__snapshots__/pdf417-3/18/slow-90.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: out of bound positions
  tests/__snapshots__/pdf417-3/18/fast-0.json
  tests/__snapshots__/pdf417-3/18/fast-180.json
  tests/__snapshots__/pdf417-3/18/slow-0.json
  tests/__snapshots__/pdf417-3/18/slow-180.json
  tests/__snapshots__/pdf417-3/18/slow-270.json
  tests/__snapshots__/pdf417-3/18/slow-90.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

fix: out of bound positions (#173)
  tests/__snapshots__/pdf417-3/18/fast-0.json
  tests/__snapshots__/pdf417-3/18/fast-180.json
  tests/__snapshots__/pdf417-3/18/slow-0.json
  tests/__snapshots__/pdf417-3/18/slow-180.json
  tests/__snapshots__/pdf417-3/18/slow-270.json
  tests/__snapshots__/pdf417-3/18/slow-90.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): v1.3.4 (#172)
  .changeset/curly-houses-bathe.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump deps
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump deps
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

fix: await async assertions in tests
  tests/blackbox.test.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: image cache warmup
  package.json
  pnpm-lock.yaml
  tests/blackbox.test.ts
  tests/utils.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

breaking: next version (wip)
  src/cpp/.clang-format
  src/cpp/CMakeLists.txt
  src/cpp/ZXingWasm.cpp
Due: none

chore: update cpp binding file
  src/cpp/CMakeLists.txt
  src/cpp/ZXingWasm.cpp
Due: none

chore: wip
  src/bindings/binarizer.ts
  src/bindings/characterSet.ts
  src/bindings/eanAddOnSymbol.ts
  src/bindings/readerOptions.ts
  src/bindings/textMode.ts
  src/bindings/writerOptions.ts
  src/core.ts
  src/cpp/ZXingWasm.cpp
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

fix(ci): fetch zint submodule
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: prettier --write

chore: update ts docs (wip)
  src/bindings/readResult.ts
  src/bindings/readerOptions.ts
  src/full/index.ts
  src/reader/index.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump emsdk
  .github/actions/setup/action.yml
Due: prettier --write

chore(ci): fix emscripten patch
  emscripten.patch
Due: none

fix(ci): emscripten.patch
  .github/actions/setup-emsdk/action.yml
  emscripten.patch
Due: prettier --write

chore(ci): suppress reverse patch check output
  .github/actions/setup-emsdk/action.yml
Due: prettier --write

chore: add hashes, shallow
  package.json
  pnpm-lock.yaml
  src/core.ts
  src/full/index.ts
  src/global.d.ts
  src/reader/index.ts
  src/writer/index.ts
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): add some tests
  tests/blackbox.test.ts
  tests/unit.test.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: doc (wip)
  README.md
  src/core.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update doc
  README.md
Due: prettier --write

chore: upadte docs (wip)
  README.md
  tsconfig.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update docs
  README.md
  package.json
  pnpm-lock.yaml
  typedoc.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update docs
  README.md
  src/core.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

Path conditions:
  biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  prettier --write: any of: *.{md,yml,yaml,css,html}
