Repository Sec-ant/zxing-wasm: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}": [
    "biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "*.{md,yml,yaml,css,html}": ["prettier --write"]
}

chore(release): v2.1.0 (#210)
  .changeset/pink-tips-unite.md
  .changeset/pretty-ravens-send.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump transitive deps
  pnpm-lock.yaml
Due: prettier --write

chore: bump emsdk
  .github/actions/setup/action.yml
  emscripten.patch
  src/cpp/CMakeLists.txt
  tests/unit.test.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: add dangerouslyIgnoreUnhandledErrors to ci test action
  .github/actions/test/action.yml
Due: prettier --write

chore: remove redundant optional chain
  emscripten.patch
Due: none

fix: patch emscripten `preamble.js` to restore the old `USE_ES6_IMPORT_META=0` behavior to prevent base64 url inlining
  .github/actions/setup-emsdk/action.yml
  emscripten.patch
  scripts/patch-emscripten.sh
Due: prettier --write

fix: increase stack size to resolve writer issues and add tests for barcode writing
  .changeset/breezy-pianos-bake.md
  src/cpp/CMakeLists.txt
  tests/issue.test.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump zxing-cpp, deps, package manager version and snapshot files
  package.json
  tests/__snapshots__/itf-1/with-tail/fast-0.json
  tests/__snapshots__/itf-1/with-tail/slow-0.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: remove import.meta.url initialization on _scriptName
  scripts/babel-plugin-emscripten-patch.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump `zxing-cpp` to `559471ac`, bump other deps
  .github/workflows/deploy.yml
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: use babel to patch emscripten, drop DOM clobbering patches
  .github/actions/setup-emsdk/action.yml
  .github/actions/setup/action.yml
  emscripten.patch
  package.json
  pnpm-lock.yaml
  scripts/babel-plugin-emscripten-patch.ts
  scripts/patch-emscripten.sh
  src/cpp/CMakeLists.txt
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump deps
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: remove `?no-inline`
  scripts/babel-plugin-emscripten-patch.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: fix lock file
  pnpm-lock.yaml
Due: prettier --write

chore: update README
  README.md
Due: prettier --write

chore: update changeset
  .changeset/breezy-pianos-bake.md
Due: prettier --write

chore: update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

chore(release): v2.1.1
  .changeset/breezy-pianos-bake.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: emscripten patching and update deps & tests
  .changeset/bitter-paths-stand.md
  .changeset/lovely-meals-open.md
  package.json
  pnpm-lock.yaml
  scripts/babel-plugin-emscripten-patch.ts
  tests/__snapshots__/code39-2/summary.json
  tests/__snapshots__/code39-2/wide/fast-0.json
  tests/__snapshots__/code39-2/wide/fast-180.json
  tests/__snapshots__/code39-2/wide/slow-0.json
  tests/__snapshots__/code39-2/wide/slow-180.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: emscripten patching and update deps & tests (#234)
  .changeset/bitter-paths-stand.md
  .changeset/lovely-meals-open.md
  package.json
  pnpm-lock.yaml
  scripts/babel-plugin-emscripten-patch.ts
  tests/__snapshots__/code39-2/summary.json
  tests/__snapshots__/code39-2/wide/fast-0.json
  tests/__snapshots__/code39-2/wide/fast-180.json
  tests/__snapshots__/code39-2/wide/slow-0.json
  tests/__snapshots__/code39-2/wide/slow-180.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): v2.1.2 (#235)
  .changeset/bitter-paths-stand.md
  .changeset/lovely-meals-open.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: update .gitattributes to mark snapshot files as generated
  .gitattributes
Due: none

refactor: extract symbol creation logic into a helper function
  src/cpp/ZXingWasm.cpp
Due: none
