Repository Sec-ant/zxing-wasm: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}": [
    "biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true"
  ],
  "*.{md,yml,yaml,css,html}": ["prettier --write"]
}

chore: bump zxing-cpp to b58682b
  .changeset/popular-dryers-hear.md
  biome.json
  package-lock.json
  package.json
  src/cpp/.clang-format
  src/cpp/CMakeLists.txt
  src/cpp/ZXingWasm.cpp
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: use `pretty-quick`
  .lintstagedrc.json
  package-lock.json
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump zxing-cpp to 9ca0684
  .changeset/few-oranges-live.md
  .github/workflows/release.yml
  package-lock.json
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump zxing-cpp to 4bbc1db
  .changeset/cold-scissors-tickle.md
Due: prettier --write

chore: bump other deps
  package-lock.json
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump zxing-cpp to `441132c`
  .changeset/young-monkeys-begin.md
  package-lock.json
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump zxing-cpp to `d0c1f34` and add `pkg.pr.new`
  .changeset/large-pots-search.md
  .codesandbox/ci.json
  .github/actions/setup/action.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
  scripts/prepare.sh
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump zxing-cpp to `d0c1f34` and add `pkg.pr.new` (#103)
  .changeset/large-pots-search.md
  .codesandbox/ci.json
  .github/actions/setup/action.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  package-lock.json
  package.json
  scripts/prepare.sh
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): fix workflow
  .github/actions/setup/action.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
Due: prettier --write

chore(ci): version bump for preview releases
  .github/workflows/preview-release.yml
Due: prettier --write

chore(ci): preview publish compact
  .github/workflows/preview-release.yml
Due: prettier --write

chore(ci): do not use actions[bot] for changeset releases
  .github/workflows/release.yml
Due: prettier --write

chore(release): v1.2.10 (#105)
  .changeset/large-pots-search.md
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump changesets/cli
  package-lock.json
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

fix: pin filename extension to `.js`
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump zxing-cpp and other dependencies
  .changeset/yellow-keys-drive.md
  package-lock.json
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump zxing-cpp and other dependencies (#110)
  .changeset/yellow-keys-drive.md
  package-lock.json
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

Update CHANGELOG.md
  CHANGELOG.md
Due: prettier --write

chore(release): v1.2.11 (#111)
  .changeset/yellow-keys-drive.md
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: change biome command option `--apply` to `--write`
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump `zxing-cpp`, switch to `pnpm` and `renovate`
  .changeset/fair-squids-knock.md
  .github/actions/setup-emsdk/action.yml
  .github/actions/setup-node/action.yml
  .github/actions/setup/action.yml
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/deploy.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  .node-version
  .nvmrc
  .simple-git-hooks.json
  README.md
  biome.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  renovate.json
  scripts/sync-emsdk.sh
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump `zxing-cpp`, switch to `pnpm` and `renovate` (#127)
  .changeset/fair-squids-knock.md
  .github/actions/setup-emsdk/action.yml
  .github/actions/setup-node/action.yml
  .github/actions/setup/action.yml
  .github/dependabot.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/deploy.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  .node-version
  .nvmrc
  .simple-git-hooks.json
  README.md
  biome.json
  package-lock.json
  package.json
  pnpm-lock.yaml
  renovate.json
  scripts/sync-emsdk.sh
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): fix pnpm scripts
  .github/workflows/deploy.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(docs): update README
  README.md
Due: prettier --write

chore(ci): fix pnpm scripts (#129)
  .github/workflows/deploy.yml
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  README.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): renovate should preserve semver ranges
  renovate.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): v1.2.12 (#130)
  .changeset/fair-squids-knock.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: clean up
  .github/workflows/preview-release.yml
  .github/workflows/release.yml
  .ncurc.cjs
  .prettierignore
  package.json
  pnpm-lock.yaml
  tsconfig.node.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(scripts): minor cleanup
  .gitignore
  .simple-git-hooks.json
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): pin `pnpm/action-setup`
  .github/actions/setup-node/action.yml
Due: prettier --write

chore: bump deps and zxing-cpp
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update npm package description
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

next version
  src/bindings/readerOptions.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: cmake
  src/cpp/CMakeLists.txt
Due: none
