Repository Sec-ant/zxing-wasm: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: apply AI suggestions on memory management by AI
  src/cpp/ZXingWasm.cpp
Due: none

fix: bump zxing-cpp to `aab9ccc` to return position info from pure MaxiCodes
  .changeset/silver-webs-behave.md
  package.json
  pnpm-lock.yaml
  tests/__snapshots__/maxicode-1/MODE2/fast-0.json
  tests/__snapshots__/maxicode-1/MODE2/slow-0.json
  tests/__snapshots__/maxicode-1/MODE3/fast-0.json
  tests/__snapshots__/maxicode-1/MODE3/slow-0.json
  tests/__snapshots__/maxicode-1/MODE4/fast-0.json
  tests/__snapshots__/maxicode-1/MODE4/slow-0.json
  tests/__snapshots__/maxicode-1/MODE5/fast-0.json
  tests/__snapshots__/maxicode-1/MODE5/slow-0.json
  tests/__snapshots__/maxicode-1/MODE6/fast-0.json
  tests/__snapshots__/maxicode-1/MODE6/slow-0.json
  tests/__snapshots__/maxicode-1/Wikipedia/fast-0.json
  tests/__snapshots__/maxicode-1/Wikipedia/slow-0.json
  tests/__snapshots__/maxicode-1/mode4-mixed-ecis/fast-0.json
  tests/__snapshots__/maxicode-1/mode4-mixed-ecis/slow-0.json
  tests/__snapshots__/maxicode-1/mode4-mixed-sets/fast-0.json
  tests/__snapshots__/maxicode-1/mode4-mixed-sets/slow-0.json
  tests/__snapshots__/maxicode-1/mode5-sequence2of3/fast-0.json
  tests/__snapshots__/maxicode-1/mode5-sequence2of3/slow-0.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: bump zxing-cpp to `aab9ccc` to return position info from pure MaxiCodes (#243)
  .changeset/silver-webs-behave.md
  package.json
  pnpm-lock.yaml
  tests/__snapshots__/maxicode-1/MODE2/fast-0.json
  tests/__snapshots__/maxicode-1/MODE2/slow-0.json
  tests/__snapshots__/maxicode-1/MODE3/fast-0.json
  tests/__snapshots__/maxicode-1/MODE3/slow-0.json
  tests/__snapshots__/maxicode-1/MODE4/fast-0.json
  tests/__snapshots__/maxicode-1/MODE4/slow-0.json
  tests/__snapshots__/maxicode-1/MODE5/fast-0.json
  tests/__snapshots__/maxicode-1/MODE5/slow-0.json
  tests/__snapshots__/maxicode-1/MODE6/fast-0.json
  tests/__snapshots__/maxicode-1/MODE6/slow-0.json
  tests/__snapshots__/maxicode-1/Wikipedia/fast-0.json
  tests/__snapshots__/maxicode-1/Wikipedia/slow-0.json
  tests/__snapshots__/maxicode-1/mode4-mixed-ecis/fast-0.json
  tests/__snapshots__/maxicode-1/mode4-mixed-ecis/slow-0.json
  tests/__snapshots__/maxicode-1/mode4-mixed-sets/fast-0.json
  tests/__snapshots__/maxicode-1/mode4-mixed-sets/slow-0.json
  tests/__snapshots__/maxicode-1/mode5-sequence2of3/fast-0.json
  tests/__snapshots__/maxicode-1/mode5-sequence2of3/slow-0.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump zxing-cpp, update default emsdk-version to 4.0.9 and improve version extraction in sync-emsdk.sh
  .github/actions/setup/action.yml
  scripts/sync-emsdk.sh
Due: prettier --write

refactor: extract symbol creation logic into a helper function
  src/cpp/ZXingWasm.cpp
Due: none

chore: update zxing-cpp submodule to latest commit 0a3797f6, and bump deps
  .lintstagedrc.json
  biome.json
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: add changeset to bump zxing-cpp to `0a3797f` for bug fixes
  .changeset/brave-cloths-speak.md
Due: prettier --write

chore: sort imports according to biome
  main.ts
  scripts/build-cjs.ts
  scripts/build-iife.ts
  scripts/build-miniprogram.ts
  src/bindings/exposedReaderBindings.ts
  src/bindings/exposedWriterBindings.ts
  src/bindings/index.ts
  src/bindings/readResult.ts
  src/bindings/readerOptions.ts
  src/bindings/writerOptions.ts
  src/full/index.ts
  src/reader/index.ts
  src/share.ts
  src/writer/index.ts
  tests/blackbox.test.ts
  tests/testEntries.ts
  tests/utils.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore(release): v2.2.0 (#244)
  .changeset/better-paths-stay.md
  .changeset/brave-cloths-speak.md
  .changeset/nasty-worlds-dream.md
  .changeset/silver-webs-behave.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: deprecate `forceSquareDataMatrix` and add `forceSquare` support for options
  .changeset/lucky-bats-attend.md
  main.ts
  package.json
  pnpm-lock.yaml
  src/bindings/writerOptions.ts
  src/cpp/ZXingWasm.cpp
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

Update src/bindings/writerOptions.ts
  src/bindings/writerOptions.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

Update main.ts
  main.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

fix: deprecate `forceSquareDataMatrix` and add `forceSquare` support for options (#255)
  .changeset/lucky-bats-attend.md
  main.ts
  package.json
  pnpm-lock.yaml
  src/bindings/writerOptions.ts
  src/cpp/ZXingWasm.cpp
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): v2.2.1 (#256)
  .changeset/lucky-bats-attend.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump deps
  package.json
  pnpm-lock.yaml
  src/bindings/writerOptions.ts
  src/share.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump deps and switch to OIDC trusted publishing
  .changeset/every-deer-end.md
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump deps and switch to OIDC trusted publishing (#274)
  .changeset/every-deer-end.md
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump deps and switch to OIDC trusted publishing
  .github/workflows/release.yml
Due: prettier --write

chore: bump deps and switch to OIDC trusted publishing (#275)
  .github/workflows/release.yml
Due: prettier --write

Revert "chore(release): v2.2.2 (#276)"
  .changeset/every-deer-end.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): attempt to fix the release ci
  .github/actions/setup-node/action.yml
Due: prettier --write

chore: bump zxing-cpp and dependencies, update emscripten to v4.0.19
  .changeset/true-pens-bathe.md
  .github/actions/setup/action.yml
  README.md
  package.json
  pnpm-lock.yaml
  tests/blackbox.test.ts
  tests/testEntries.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: remove --dangerouslyIgnoreUnhandledErrors from test command
  .github/actions/test/action.yml
Due: prettier --write

chore(tests): imageBlob creation in blackbox tests
  tests/blackbox.test.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump zxing-cpp and dependencies, update emscripten to v4.0.19 (#293)
  .changeset/true-pens-bathe.md
  .github/actions/setup/action.yml
  .github/actions/test/action.yml
  README.md
  package.json
  pnpm-lock.yaml
  tests/blackbox.test.ts
  tests/testEntries.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: clean up .gitmodules by removing redundant submodule entry
  .gitmodules
Due: none

chore: add @changesets/cli to root devDependencies
  package.json
  packages/zxing-wasm/package.json
  pnpm-lock.yaml
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: stage (wip)
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  .vscode/project.code-snippets
  .vscode/settings.json
  biome.json
  package.json
  packages/react/.gitignore
  packages/react/.storybook/main.ts
  packages/react/.storybook/preview.ts
  packages/react/README.md
  packages/react/package.json
  packages/react/public/barcodes.mov
  packages/react/public/wikipedia.png
  packages/react/src/hooks/useScanner.ts
  packages/react/src/index.css
  packages/react/src/index.tsx
  packages/react/src/stories/useScanner.stories.tsx
  packages/react/src/types.ts
  packages/react/src/utils/createCanvas.ts
  packages/react/src/utils/isHTMLCanvasElement.ts
  packages/react/src/utils/isHTMLImageElement.ts
  packages/react/src/utils/isHTMLVideoElement.ts
  packages/react/src/workers/reader.ts
  packages/react/tsconfig.app.json
  packages/react/tsconfig.json
  packages/react/tsconfig.node.json
  packages/react/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  zxing-wasm-monorepo.code-workspace
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

Path conditions:
  biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  prettier --write: any of: *.{md,yml,yaml,css,html}
