Repository Sec-ant/zxing-wasm: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): minor fix
  .github/workflows/ci.yml
Due: prettier --write

chore: update ci and dev workflow
  .changeset/README.md
  .changeset/config.json
  .eslintrc.json
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/comment.yml
  .github/workflows/delete-ci-release.yml
  .github/workflows/dependabot-auto-merge.yml
  .gitignore
  .lintstagedrc.json
  .ncurc.cjs
  .nvmrc
  .prettierignore
  .simple-git-hooks.json
  .vscode/extensions.json
  .vscode/settings.json
  biome.json
  package-lock.json
  package.json
  scripts/build-cjs.ts
  scripts/build-iife.ts
  src/bindings/barcodeFormat.ts
  src/bindings/binarizer.ts
  src/bindings/characterSet.ts
  src/bindings/contentType.ts
  src/bindings/eanAddOnSymbol.ts
  src/bindings/readResult.ts
  src/bindings/readerOptions.ts
  src/bindings/textMode.ts
  src/bindings/writeResult.ts
  src/bindings/writerOptions.ts
  src/core.ts
  src/full/index.ts
  src/reader/index.ts
  src/writer/index.ts
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): add changeset release workflow
  .github/workflows/release.yml
Due: prettier --write

chore: bump zxing-cpp to b3fe574 and other chores
  .changeset/friendly-walls-push.md
  copy-files-from-to.json
  package-lock.json
  package.json
  src/bindings/readerOptions.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): fix permission issue
  .github/workflows/release.yml
Due: prettier --write

chore(release): v1.2.2
  .changeset/friendly-walls-push.md
  CHANGELOG.md
  package-lock.json
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): fix release workflow
  .github/workflows/release.yml
Due: prettier --write

fix: reset zxing-cpp to b152afd
  .changeset/curly-chefs-retire.md
  src/bindings/readerOptions.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): fix release
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): clean up
  .github/workflows/comment-pr.yml
  .github/workflows/delete-pr-prereleases.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: prettier --write

chore(ci): update `repository-dispatch` to v3
  .github/workflows/prerelease.yml
Due: prettier --write

chore(ci): update draft release
  .github/workflows/comment-pr.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
Due: prettier --write

chore: fix configs
  .lintstagedrc.json
  .prettierignore
  .vscode/extensions.json
  package-lock.json
  tsconfig.node.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore(ci): fix provenance permission
  .github/workflows/release.yml
Due: prettier --write

chore(ci): fix publish config
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump deps version
  package-lock.json
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore(ncu): reject `vite` for now
  .ncurc.cjs
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: bump zxing-cpp to b3aff4a
  .changeset/grumpy-impalas-learn.md
  .github/dependabot.yml
  README.md
  package-lock.json
  package.json
  src/bindings/readerOptions.ts
  src/cpp/ZXingWasm.cpp
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: `tsconfck` deadlock workaround
  .github/dependabot.yml
  .ncurc.cjs
  package-lock.json
  package.json
  tsconfig.base.json
  tsconfig.json
  tsconfig.node.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump `biome`
  package-lock.json
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore(ci): add codesandbox ci
  .codesandbox/ci.json
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  package.json
  scripts/prepare.sh
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): add cmake
  scripts/prepare.sh
Due: none

chore(ci): remove old workflows
  .github/workflows/comment-pr.yml
  .github/workflows/delete-pr-prereleases.yml
  .github/workflows/prerelease.yml
Due: prettier --write

chore(ci): add codesandbox ci
  .codesandbox/ci.json
  .github/workflows/comment-pr.yml
  .github/workflows/delete-pr-prereleases.yml
  .github/workflows/prerelease.yml
  .github/workflows/release.yml
  package.json
  scripts/prepare.sh
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: npm scripts
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore(docs): create `deploy.yml`
  .github/workflows/deploy.yml
Due: prettier --write

chore: enter prerelease mode
  .changeset/pre.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

fix(emscripten): wasm instantiation in electron
  scripts/babel-plugin-emscripten-patch.ts
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: add changeset
  .changeset/grumpy-icons-crash.md
Due: prettier --write

chore: exit prerelease mode
  .changeset/pre.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: replace netlify with deno deploy
  README.md
Due: prettier --write

chore: bump deps
  biome.json
  package-lock.json
  package.json
  tsconfig.base.json
  tsconfig.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

Path conditions:
  biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  prettier --write: any of: *.{md,yml,yaml,css,html}
