Repository Sec-ant/zxing-wasm: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(ci): add some tests
  tests/blackbox.test.ts
  tests/unit.test.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: deps
  pnpm-lock.yaml
Due: prettier --write

chore: add `.coderabbit.yaml`
  .coderabbit.yaml
Due: prettier --write

docs: update README
  README.md
Due: prettier --write

fix: typo
  src/bindings/binarizer.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

📝 Add docstrings to `breaking/next`
  src/bindings/barcodeFormat.ts
  src/bindings/binarizer.ts
  src/bindings/characterSet.ts
  src/bindings/contentType.ts
  src/bindings/eanAddOnSymbol.ts
  src/bindings/readResult.ts
  src/bindings/readerOptions.ts
  src/bindings/textMode.ts
  src/bindings/writeResult.ts
  src/bindings/writerOptions.ts
  src/core.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

docs: add v1 link in README
  README.md
Due: prettier --write

chore: update changelog
  CHANGELOG.md
Due: prettier --write

Version Packages (beta) (#185)
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: bump `zxing-cpp` to `0dfa36b`
  .changeset/wise-planes-reply.md
Due: prettier --write

chore: enable changeset release on `channel/*` branches
  .github/workflows/release.yml
Due: prettier --write

chore(release): v1.3.5 (#186)
  .changeset/wise-planes-reply.md
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): v2.0.0-beta.1 (beta) (#187)
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

fix: docstring
  src/full/index.ts
  src/reader/index.ts
  src/writer/index.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: fix changelog format
  .changeset/wise-planes-reply.md
  CHANGELOG.md
Due: prettier --write

chore: biome ignore .changeset/pre.json
  biome.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

docs: uncomment demo link
  README.md
Due: prettier --write

chore: fix typedoc title
  typedoc.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore(ci): fix changeset baseBranch
  .changeset/config.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: hoist @changesets/config
  .npmrc
Due: none

chore: mock console.error in prepare zxing module unit tests
  tests/unit.test.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: rename core to share, bump deps
  biome.json
  package.json
  pnpm-lock.yaml
  src/full/index.ts
  src/full/zxing_full.d.ts
  src/reader/index.ts
  src/reader/zxing_reader.d.ts
  src/share.ts
  src/writer/index.ts
  src/writer/zxing_writer.d.ts
  vite.config.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: dedupe
  pnpm-lock.yaml
Due: prettier --write

chore: improve emscripten patch logger
  scripts/babel-plugin-emscripten-patch.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true

chore: add `typesVersions` for `moduleResolution: node`
  .changeset/healthy-mugs-dress.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore(release): v2.0.0-beta.2 (beta) (#188)
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

feat: support `DXFilmEdge` writing, with some other fixes
  .changeset/stupid-rules-travel.md
  README.md
  biome.json
  copy-files-from-to.json
  package.json
  src/bindings/barcodeFormat.ts
  src/bindings/writerOptions.ts
  src/wasm.d.ts
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: fix spaces in README
  README.md
Due: prettier --write

chore(release): v2.0.0-beta.3 (beta) (#189)
  .changeset/pre.json
  CHANGELOG.md
  package.json
Due: biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true, prettier --write

chore: update README
  README.md
Due: prettier --write

Path conditions:
  biome check --apply --no-errors-on-unmatched --files-ignore-unknown=true: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  prettier --write: any of: *.{md,yml,yaml,css,html}
